body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
/* style navabr */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
}
.menu {
  width: 100%;
  height: 210px;
  background-color: #346077;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-inline: auto;
}
ul li {
  margin: 75px;
}
ul li:hover {
  animation: navbarhover forwards 0s 3s;
}
ul li {
  position: relative;
}
ul li::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4em;
  background: #78ab4e;
  z-index: -1;
  opacity: 0.8;
  transition: transform 0.3s;
}
ul li:hover::after {
  transform: scaleX(1);
}
ul li {
  text-decoration: none;
  background: linear-gradient(
      to top,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0.5) 10%,
      transparent 10.01%
    )
    no-repeat left bottom / 0 100%;
  transition: background-size 1s;
}

ul li:hover {
  background-size: 100% 100%;
}
.menu .logo {
  height: 225px;
}
.menu .logo2 {
  display: none;
}
/* style navabr */

/* dropdown menu */
.menu .toggle_btn {
  margin-top: 15px;
  margin-right: 10px;
  color: aliceblue;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 60px;
  width: 300px;
  background: #346077d7;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 210px;
  margin-top: 5px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu li:hover {
  color: brown;
}
/* dropdown menu */

/* responsive navbar */
@media (max-width: 1300px) {
  ul li {
    display: none;
  }

  .menu {
    max-width: 1300px;
    height: 60px;
  }
  .menu form {
    height: 40px;
  }

  .menu .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    right: 0.5rem;
  }
  .menu .logo2 {
    display: block;
    height: 60px;
  }
  .menu .logo {
    display: none;
  }
}
@media (max-width: 576px) {
  div.deconnecter {
    transform: translate(29%, -1000%);
  }
  .dropdown_menu {
    right: 2rem;
    left: 2rem;
    width: unset;
  }
}
/* responsive navbar */
